<!doctype html>
<html>
<style>
.result {
    margin: auto;
    width: 35%;
    border: 1px solid rgb(204, 204, 204);
    float: center;
    position: relative;
    
}
.img {
    float: center;
    position: relative;
}
</style>
<head>
    <title>Result and Analysis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body bgcolor="Cyan">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<marquee direction="left" height="20" width="100%" bgcolor="skyblue">" Be a part of the solution not a part of the pollution "</marquee><hr>
<marquee direction="right" height="20" width="100%" bgcolor="skyblue">" Take care of the earth and she will take care of you "</marquee><hr>
<h1 align="center">Result</h1>

<div class="result" align="center">
    {% if result %}
    	{% for variable, value in original_input.items() %}
    		<b>{{ variable }}</b> : {{ value }}
    	{% endfor %}
		<br>
    	<br> Predicted Air Quality Index:
   		<p style="font-size:50px">{{ result }}</p>
    {% endif %}
</div>
<br>
<h1 align="center">Analysis</h1>
<div class="img" align="center">
<img src="https://environmental-conscience.com/ezoimgfmt/image.jimcdn.com/app/cms/image/transf/dimension=990x10000:format=png/path/s84afce38611cf0b3/image/ia4b650b2720d122f/version/1573649439/thresholds-colors-and-meaning-of-the-levels-of-the-air-quality-index.png?ezimgfmt=ng:webp/ngcb55" width="650" height="400" border="2">
</div>
<br>
<br>
<h2>
<center> 
<a href="{{ url_for('page2') }}"><b><i><u>Precautions</u></i></b></a>
<br>
<br>
<a href="{{ url_for('main') }}"><b><i><u>Air Quality Index (AQI) Measures</u></i></b></a>
</center>
</h2>
</body>
</html>